.router-link-active {
  text-decoration: none;
}

.sidebar {
  width: 200px;
  min-height: 100%;
  background-color: #333;
  color: #fff;
  transition: transform 0.3s ease, height 0.3s ease;
  position: relative;

  /* 預設為 PC 和平板模式的側邊欄 */
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;

    .menu-item {
      padding: 15px;
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        margin-right: 10px;
        font-size: 18px;
      }

      &:hover {
        background-color: #555;
      }
    }
  }

  .toggle-button {
    display: none; /* 預設隱藏按鈕 */
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 10;
    font-size: 24px;
    color: #fff;
  }
}

/* 手機模式 (width < 320px) */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; /* 預設高度只顯示按鈕 */
    min-height: 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    transform: translateY(0);
    z-index: 5;

    .toggle-button {
      display: block;
      position: relative;
      left: 10px;
      // top: 0px;
      top: 1vh;
      font-size: 24px;
    }

    /* 當展開時增加高度來顯示清單 */
    &.expanded {
      height: auto;
      .toggle-button {
        top: 1vh;
      }
    }

    .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-top: 10px;
      
      /* 當展開時顯示清單 */
      &.expanded-menu {
        display: flex;
      }

      .menu-item {
        padding: 10px;
        text-align: center;
        // border-top: 1px solid #555;
      }
    }
  }
}


.effect-button,
.effect-button *,
.effect-button :after,
.effect-button :before,
.effect-button:after,
.effect-button:before {
  border: 0 solid;
  box-sizing: border-box;
}
.effect-button {
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.effect-button:disabled {
  cursor: default;
}
.effect-button:-moz-focusring {
  outline: auto;
}
.effect-button svg {
  display: block;
  vertical-align: middle;
}
.effect-button [hidden] {
  display: none;
}
.effect-button {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  overflow: hidden;
  padding: .2rem .5rem;
  text-transform: uppercase;
}
.effect-button:hover {
  -webkit-animation: pulse 0.5s;
  animation: pulse 0.5s;
  box-shadow: 0 0 0 2em transparent;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fff;
  }
}
